<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new post</h1>

    <div class="form-control" 
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title">
        <div class="validation" 
        *ngIf="form.get('title').touched && form.get('title').invalid">
            <small 
            *ngIf="form.get('title').errors['required']">
            Enter your title</small>
        </div>
    </div>

    <div class="form-control">
        <label>Контент поста:</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    
    <div class="form-control"
    [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid}">
        <label>Post's content</label>
        <!-- <quill-editor formControlName="text"></quill-editor> -->
        <input id="text" type="text" formControlName="text">
        <div class="validation" 
        *ngIf="form.get('text').touched && form.get('text').invalid">
            <small 
            *ngIf="form.get('text').errors['required']">
            Enter your text</small>
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-dark"
    [disabled]="form.invalid">Create post</button>
</form>